.page-info {
  font-weight: 400;
  background-color: var(--dark);
  color: var(--white);
  text-align: left;
}

.page-info .menu {
  margin-bottom: 8px;
  font-weight: 400;
  line-height: 32px;
}

.page-info .menu a {
  color: var(--white);
  font-weight: 400;
}

footer h3 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 35px;
}

footer h5 {
  font-weight: 600;
  margin-bottom: 20px;
}

footer p {
  font-size: 14px;
  margin-bottom: 8px;
}

footer img {
  border-radius: 8px;
}
