@media (min-width: 1024px) {
  .home-banner {
    background-image: url("../../images/iteration-1-images/home-banner.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 80px;
  }

  .home-banner h2 {
    margin: 0;
  }

  .home-banner .badge {
    display: block;
    margin-top: 50px;
  }

  .category-section {
    padding: 26px;
  }

  .category-section .categories {
    column-gap: 35px;
  }

  .category-section .categories .category-item {
    flex: 1;
  }

  .category-section .categories .category-item a {
    white-space: nowrap;
    justify-content: center;
  }

  .card-section {
    padding: 60px 0;
  }

  .card-section .container {
    flex-direction: row;
  }

  .card-section .container .order {
    flex: 1;
  }

  .card-section .container .order .order-card {
    margin-top: 10px;
  }

  .card-section .container .order .order-card .btn {
    padding: 6px 30px;
    border-radius: 50px;
    font-size: 14px;
    letter-spacing: 0;
    text-transform: uppercase;
    line-height: 32px;
    width: fit-content;
  }

  .card-section .container .order > * {
    flex: 1;
  }

  .card-section .container .section-info {
    margin-top: 60px;
  }

  .card-section .container .section-info h2 {
    margin: 0;
  }

  .card-section .container .section-info h2 span {
    display: inline-block;
  }

  .card-section .container .category {
    margin-top: 60px;
  }

  .card-section .container .category .categories {
    column-gap: 15px;
  }

  .card-section .container .category .categories .category-item {
    flex: 1;
  }

  .card-section .container .category .categories .category-item a {
    white-space: nowrap;
    justify-content: center;
  }

  .card-section .container .products {
    display: flex;
    gap: 30px;
    padding: 0;
  }

  .card-section .container .products .product-card {
    flex: 1;
  }

  .card-section .container .products .product-card h4 {
    white-space: nowrap;
  }

  .sub-category .section-info h2 span {
    display: inline-block;
    margin: 0 15px;
  }

  .sub-category .category {
    max-width: 1140px;
    margin: 50px auto;
  }
  .sub-category .category .categories {
    justify-content: space-between;
    flex-wrap: nowrap;
    column-gap: 15px;
  }
  .sub-category .category .categories .category-item:nth-child(2n) {
    justify-content: center;
  }
  .sub-category .category .categories .category-item {
    flex: 1;
  }

  .products {
    flex-wrap: nowrap;
  }

  .page-info {
    flex-direction: row;
    gap: 40px;
  }

  .page-info .container > div {
    flex: 1;
  }

  .page-info .container > div:last-child {
    flex: 1.5;
  }

  .copyright {
    margin-top: 60px;
  }

  .home-other .container {
    width: 532px;
  }

  .order-container {
    width: 532px;
  }
  .order-container .order-info {
    grid-template-areas:
      "amount info-card"
      ". complete-order";
    align-items: start;
    row-gap: 0;
  }
  .order-container .order-info .amount {
    align-self: start;
  }
}
